* {
    margin: 0;
}
h3 {
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    margin-top: 20px;
}
/* .card {
    height: 200px;
    width: 200px;
    border: solid 2px purple;
} */
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card{
    box-shadow: -10px -6px 10px grey;
    border-radius: 5px;
}

